h1{
    text-align: center;
    color: black;
    font-family: arial;
    font-size: 100px;
    background-color: tomato;
}

p{
    text-align: center;
    color: black;
    font-family: arial;
    font-size: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

img{
    text-align: center;
    padding: 20px;
    image-orientation: flip;
    image-rendering: auto;
    margin-left: 65px;
}

a {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30 px;
    border: 20px;
    font-weight: bold;
    background-color: gray;
    Margin-left: 150px;
    font-color: gray;
}

body {
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    padding: 10px;
    margin: 0;
    background-color: aquamarine;

}

