{% extends 'base.html' %}

{% block body %}

<h1>
                                        Football Diaries

</h1>



<p>

    Football Diaries is a website devoted to statistical information about football in
    the English premier league. We take statistical information and break it down so that
    you can analyse your team, each season or a player using this website.

    You can find out which team won on a given day or how a team faired in a given season.
    We have links below to statistical information and also any questions that you would like
    to ask us.

    All of our statistics are well sourced and accurate. We update them regularly. The
    Football Diaries website is the best source for action statistics that you can find.



</p>








<img src="..\static\image\stadium.jpg" alt="Stadium">


<img src="..\static\image\soccer.jpg" alt="soccer">


<img src="..\static\image\arena.jpg" alt="arena">


<img src="..\static\image\corner.jpg" alt="corner">




<div>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\Project3.html" >STATS</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project4.html" >STATS BAR CHART</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project5.html" >STATS GRAPH</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project6.html" >STATS Q & A</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project7.html" >MATCHES Q & A</a>

</div>

<h2>{{ the_title }}</h2>

<!--HTML to make up the Home Page-->


{% endblock %}