{% extends 'base.html' %}

{% block body %}





<p>
    Football Diaries is a website devoted to statistical information about football in
    the English premier league.
    We take statistical information and break it down so that
    you can analyse your team, each season or a player using this website.

    You can find out which team won on a given day or how a team faired in a given season.
    We have links below to statistical information and also any questions that you would like
    to ask us. All of our statistics are well sourced and accurate.
    We update them regularly.
    The Football Diaries website is the best
    source for action statistics that you can find.


</p>




<img src="..\static\image\stadium.jpg" alt="Stadium">


<img src="..\static\image\soccer.jpg" alt="soccer">


<img src="..\static\image\arena.jpg" alt="arena">


<img src="..\static\image\corner.jpg" alt="corner">




<h2>{{ the_title }}</h2>

<!--HTML to make up the Home Page-->


{% endblock %}