<!DOCTYPE html>

 <html>

	<head>
        {% block head %}
		<title>{% block title %}{% endblock %}</title>
        {% endblock %}
		<!--LINK TO STYLESHEET NOT WORKING
        <link rel="stylesheet" href="../static/mystyle.css">
        -->
		<!--LINK TO W3 SCHOOLS STYLE SHEET
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
		<link rel="stylesheet" href="/static/football.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	</head>

	<body id="myBody">
	<header>
		<h1>Football Diaries</h1>
	</header>

<div>

<a href="/about" >HOME</a>

<a href="/statstable" >STATS TABLE </a>

<a href="/statsgraph" >STATS GRAPH</a>

<a href="statsQandA" >STATS Q & A</a>

<a href="statsmatches" >MATCHES Q & A</a>

</div>
		{% block body %}


		{% endblock %}

	</body>
 </html>






