<!DOCTYPE html>

 <html>

	<head>
		<title>{{ the_title }}</title>
		<!--LINK TO STYLESHEET NOT WORKING
        <link rel="stylesheet" href="../static/mystyle.css">
        -->
		<!--LINK TO W3 SCHOOLS STYLE SHEET
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
		<link rel="stylesheet" href="/static/my_style.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	</head>

	<body id="myBody">
	<header>
		<h1>Football Diaries</h1>
	</header>

	<a href="/page1">Results</a>
	<a href="/page2">Cards</a>
	<a href="/page3">Man United Wins</a>
	<a href="/logUserIn">Login</a>
	<a href="/logout">Logout</a>
	<a href="/status">Status</a>

		{% block body %}


		{% endblock %}

	</body>
 </html>