<!DOCTYPE html>

 <html>

	<head>
        {% block head %}
		<title>{% block title %}{% endblock %}</title>
        {% endblock %}
		<!--LINK TO STYLESHEET NOT WORKING
        <link rel="stylesheet" href="../static/mystyle.css">
        -->
		<!--LINK TO W3 SCHOOLS STYLE SHEET
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
		<link rel="stylesheet" href="{{url_for('static', filename='football.css') }}">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	</head>

	<body id="myBody">
	<header>
		<h1>Football Diaries</h1>
	</header>

<div>


<a href="/" >HOME</a>


<a href="/statstable" >STATS TABLE </a>


<a href="/page1" >STATS GRAPH</a>


<a href="/page3" >STATS Q & A</a>


<a href="/graph" >Graph</a>


<a href="/linegraph" >Linegraph</a>


<a href="/logUserIn" >Login</a>

<a href="/logout" >Logout</a>

<a href="/register" >Register</a>




</div>
		{% block body %}


		{% endblock %}

	</body>
 </html>






