{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


<!--HTML to make up the Home Page-->
<p>
    Paragraph text. Paragraph text
    Home Page
</p>

<table>

    <!--HTML to display book reviews - table?
        Jinja template variables used to store info
        For loop used to populate the table-->
	 <tr>

		{% for row_title in the_row_titles %}
			<th>{{row_title}}</th>
		{% endfor %}

	 </tr>

	{% for log_row in the_data %}
	 <tr>
		 {% for item in log_row %}
			<td>{{item}}</td>
		 {% endfor %}
	 </tr>

	{% endfor %}

</table>

{% endblock %}