{% extends 'base.html' %}

{% block body %}


{% if session['logged_in'] %}
<br>
You're already registered!

{% else %}
<form action="/register" method="POST">
  <div class="container">
    <h3>Register</h3>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label><b>Email</b></label>
    <input type="text" placeholder="Username" name="username" required><br>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br>

    <label><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br>
    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="/logUserIn">Sign in</a>.</p>
  </div>
</form>
{% endif %}

{% endblock %}