{% extends 'base.html' %}

{% block body %}

<h1>
    Statistical information
        (Bar Chart)

</h1>

<p>

    The bar chart below is a statistical representation of wins versus loses for each team
    in the Premier League for seasons 2005/2006 to 2015/2016

</p>










<!--HTML to make up the Home Page-->

<div>


<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\Project2.html" >HOME</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project4.html" >STATS BAR CHART</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project5.html" >STATS GRAPH</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project6.html" >STATS Q & A</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project7.html" >MATCHES Q & A</a>

</div>

{% endblock %}