{% extends 'base.html' %}

{% block body %}


<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


</head>

<body>


    <canvas id="myChart" width="200" height="200"></canvas>
                <script>
                var ctx = document.getElementById("myChart").getContext('2d');
                var myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["Man u", "Liverpool", "Chelsea", "Tottenham", "Mancity", "Arsenal"],
                        datasets: [{

                            label: 'GOALS SCORED (season 2006/2007)',
                            data: [83, 57, 64, 57, 29, 63],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                        ],

                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                        ],




                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
                </script>
















<h1>


</h1>

<paragraph>

   We have represented wins of our favourite teams over the course of the season.

</paragraph>




</body>
</html>
<h1>
    Statistical information
        (Graph)

</h1>

<p>

    We have represented the information of seasons and goals scored by each team on a Graph
    for visual representation.

</p>






{% endblock %}