{% extends 'base.html' %}

{% block body %}

<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


</head>

<body>


    <canvas id="myChart" width="200" height="200"></canvas>
    <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    ctx.canvas.width=300;
    ctx.canvas.height=300;
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Man u", "Liverpool", "Chelsea", "Tottenham", "Mancity", "Arsenal"],
            datasets: [{

                label: 'Premiership Wins (season 2006/07)',
                data: [28, 20, 24, 17, 11, 19],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
            ],

                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
            ],




                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>

<h1>
    Statistical information
        (BAR CHART)

</h1>

<paragraph>

   We have represented wins of our favourite teams over the course of the season.

</paragraph>




</body>
</html>

<h1>
    Statistical information
        (Bar Chart)

</h1>

<p>

    The bar chart below is a statistical representation of wins versus loses for each team
    in the Premier League for seasons 2005/2006 to 2015/2016

</p>










<!--HTML to make up the Home Page-->

<div>


<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\Project2.html" >HOME</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project4.html" >STATS BAR CHART</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project5.html" >STATS GRAPH</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project6.html" >STATS Q & A</a>

<a href="C:\Users\mnoone\Desktop\galwaycourse\Class Project\project7.html" >MATCHES Q & A</a>

</div>

{% endblock %}