{% extends 'base.html' %}

{% block body %}


<form action="/showTeamStats" method="POST">

    <select name="team_name" required>
        <option value="Arsenal">Arsenal</option>
        <option value="Aston Villa">Aston Villa</option>
        <option value="Burnley">Burnley</option>
        <option value="Chelsea">Chelsea</option>
        <option value="Everton">Everton</option>
        <option value="Leicester City">Leicester City</option>
        <option value="Manchester United">Man United</option>
        <option value="Manchester City">Man City</option>
        <option value="Southampton">Southampton</option>
        <option value="Stoke City">Stoke City</option>
        <option value="Tottenham Hotspur">Tottenham Hotspur</option>
        <option value="West Ham United">Arsenal</option>
        <option value="Newcastle United">Newcastle United</option>
        <option value="Watford">Watford</option>
    </select><br>

    <select name="season_name" required>
        <option value="2017-2018">2017/18</option>
        <option value="2016-2017">2016/17</option>
        <option value="2015-2016">2015/16</option>
        <option value="2014-2015">2014/15</option>
        <option value="2013-2014">2013/14</option>
        <option value="2012-2013">2012/13</option>
        <option value="2011-2012">2011/12</option>
        <option value="2010-2011">2010/11</option>
        <option value="2009-2010">2009/10</option>
        <option value="2008-2009">2008/09</option>
    </select><br>

    <input type="submit" value="Submit">

</form>

{% endblock %}