{% extends 'base.html' %}

{% block body %}


<form action="/showTeamStats" method="POST">

    <select name="team_name" required>
        <option value="Manchester United">Man United</option>
        <option value="Manchester City">Man City</option>
        <option value="Arsenal">Arsenal</option>
    </select><br>

    <select name="season_name" required>
        <option value="20017-2018">2017/18</option>
        <option value="2016-2017">2016/17</option>
        <option value="2015-2016">2015/16</option>
    </select><br>

    <input type="submit" value="Submit">

</form>

{% endblock %}